<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk Uploader</title>
    <link rel="icon" href="images/icons8-upload-100.png" type="image">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class ="main-content">
        {{>header}}
        <div class="table-1">
            {{>table}}
        </div>
    </div>
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>