<header>
    <h1>{{title}}</h1>

    <div class="menu-tab">
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/instructions">Instructions</a>
        </div>
        <div>
            <a href="/log">Log</a>
        </div>      
    </div>
</header>