<div class="main-child">
    <img class="checkmark" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Eo_circle_green_checkmark.svg"> 
</div>
<div class="main-child-2">     
    <h2>Upload Successful</h2>
</div>   
{{!-- <div class="main-child-3">
    <button class="btn-scs">Click Here to Continue</button>
</div>    --}}