body {
    font-family: arial;
    color: #898E8C;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;

    /* flexbox */
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

header {
    text-align: center;
    border-bottom: #eeeeee 1px solid;
}

footer {
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

.input-btn {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-submit, 
.custom-file-upload {
    background-color: #EBF2FA;
    padding: 15px;
    width: 100px;
    margin-top: 15px;
    border: #E0FBFC; 
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
    display: flex;
    overflow: auto;
    justify-content: center;
}

/* log scroll containers */
.box{
    display: flex;
    min-height: ;
    flex-direction: column;
    border: red dashed;
}

.column{
    border: blue dashed;
    height: 20px;
}

.custom-file-upload{
    flex: 1 1 auto; 
    padding: 250px 400px;
}

input[type="file"] {
    display: none;
}

.main-content{
    flex: 1;
}

.flx {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collection-name{
    width: 200px;
    height: 25px;
    margin-top: 30px;
    flex: none;
}

.placeholder-text {
    font-style: italic;
    color: lightgrey;
}

.highlight {
    background-color: lightgreen;
}

.menu-tab {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

a {
    color: #898E8C;
    text-decoration: none; 
}

/* .menu-tab2 {
    display: flex;
    justify-content: space-around;
    border-style: dashed;
    border-color: red;
}*/

.instructionImage {
    width: auto;
    height: 500px;
}

.btn-open{
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: rgba(24, 100, 171, 0.1);
    height: 50px;
    width: 200px;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.instructionImage{
    padding: 15px;
    flex: 1 1 auto;
}

.inst-img1{
    display: flex;
    justify-content: center;
    background-color: #EBF2FA;
    /* width: 100px; */
    padding: 15px;
    margin-top: 45px;
    border: #E0FBFC; 
    border-radius: 5px;
}

/*Successful Upload page*/

.checkmark {
    height: auto;
    width: 300px;

}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-child,
.main-child-2,
.main-child-3{
    flex: auto;  
} 

.main-child-2{
    color: #38b000;
}

.btn-scs{
    background-color: #EBF2FA;
    padding: 15px;
    width: auto;
    margin-top: 0px;
    border: #E0FBFC; 
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
}

table, th, td {
    border:1px solid black;
}

table{
    width: 600px;
}

.table-1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.table-div{
    display: flexbox;
    flex: 1;
    justify-content: center;

}

.table-heading{
    flex: 1;
    justify-content: center;
}

h2 {
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.tabled{
    display: flex;
    justify-content: center;
}

#error-head{
    margin-top: 40px;
}