body {
    font-family: arial;
    color: #898E8C;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;

    /* flexbox */
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

header {
    text-align: center;
    border-bottom: #eeeeee 1px solid;
}

footer {
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

.input-btn {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, 
.custom-file-upload {
    background-color: #EBF2FA;
    padding: 15px;
    width: 100px;
    margin-top: 15px;
    border: #E0FBFC; 
    font-size: 15px;
    border-radius: 5px;
    text-align: center;

}

.custom-file-upload{
    flex: 1 1 auto; 
    padding: 250px 400px;
}

input[type="file"] {
    display: none;
}

.main-content{
    flex: 1;
}

.flx {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collection-name{
    width: 200px;
    height: 25px;
    margin-top: 30px;
    flex: none;
}

.placeholder-text {
    font-style: italic;
    color: lightgrey;
}

.highlight {
    background-color: lightgreen;
}

.menu-tab {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

a {
    color: #898E8C;
    text-decoration: none; 
}

